# PostgreSQL
DATABASE_URL="postgresql://cchala:cchala@localhost:5432/leagueofcoach"
PORT=4100

# App auth
JWT_SECRET="leagueofcoach-secret"

# Riot API access (for data calls that use Riot API key)
RIOT_API_KEY=""
RIOT_DEFAULT_SERVER="LAS"
